{% extends "citas/base/base.html" %}
{% block content %}
<style>
.background-containers {
      position: relative;
      width: 100%;
      height: 45vh; /* Ajusta la altura según sea necesario */

      background-size: cover;
      background-position: center;
      }
.contents {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.068), rgb(0, 0, 0));
      color: white; /* Cambia el color del texto según sea necesario */

}
#divs-btns {
      display: none !important;
  }

</style>
<div class='bg-dinamic  vh-100 bg-black bg-opacity-50 ' >
      {% include "citas/components/nav.html" %}
      <div class=' p-2'>
            <div class='mt-5'>
                  <strong class="ms-2 font-primary" style='font-size: 12px;'>
                        Opciones de administración
                  </strong>
                  {% include "citas/components/btns-admin.html" %}
            </div>
            <div>

            </div>
      </div>
</div>
<script>
      TextSession('Administracions')
let CalFrances = (capital, tasa, plazo) => {
      const Cuotas = capital * tasa / (1 - Math.pow(1 + tasa, -plazo));
      let amortizacion = [];
      let saldo = capital;
      let totalIntereses = 0; 
      for (let mes = 1; mes <= plazo; mes++) {
            const interes = saldo * tasa; 
            const amortizacionCapital = Cuotas - interes;
            saldo -= amortizacionCapital;
            totalIntereses += interes; 
            amortizacion.push({
                  Mes: mes,
                  Cuota: Cuotas.toFixed(2),
                  Interes: interes.toFixed(2),
                  AmortizacionCapital: amortizacionCapital.toFixed(2),
                  Saldo: saldo.toFixed(2)
            });
      }
      let total = (capital + totalIntereses).toFixed(2);
      console.log(`Total de intereses pagados: ${totalIntereses.toFixed(2)}, ${total}`);
      return amortizacion;
}
console.log(CalFrances(15000, 0.15, 5))
</script>


{% endblock  %}