{% extends "citas/base/base.html" %}
{% block content %}
{% load humanize %}
{% load static %}


<section class="blur vh-100 bg-black bg-opacity-50">
      {% include "citas/components/nav.html" %}
      <div class="d-flex w-100 flex-wrap mt-2 justify-content-center " >
            <form action="" method="post" class='bg-white bg-opacity-10 p-2 mt-5 rounded-4'>
            {% csrf_token %}
            <div class='d-flex '>
                  <div class="form-floating  w-50 m-1">
                        {{form.name}}
                        <label for="id_name"> Nombre </label>
                  </div>
                  <div  class="w-50 m-1" >
                        <div class="form-floating ">
                              {{ form.price }}
                              <label for="id_price"> Precio del gasto </label>
                        </div>
                  </div>

            </div>
            <div class='d-flex '>
                  <div class="form-floating  w-100 m-1 " >
                       <style>
                             #id_description {
                                   height: 100px;
                                   width: 100%;
                                   
                             }
                             #id_name, #id_price, #id_description 
                             {
                              outline: none;
                              border-radius: 1rem;
                              transition: 0.1s !important;
                             }
                       </style>
                       {{form.description}}
                       <label for="id_description"> Descripcion </label>
                 </div>

            </div>

            <div class='w-100 d-flex justify-content-center mt-3 '>
                  <a href="{% url "citas:plans-create" %}" 
                  class="text-white p-0 pt-1 pb-0">Atras</a>
                  <button class='border-0  rounded-5 bg-black bg-opacity-25 ms-2 p-1 me-2 ps-5 pe-5'>
                         Crear 
                  </button>
            </div>
            
            </form>   
      </div>

</section>

<script>
      TextSession("Creando gasto")
</script>
{% endblock  %}