
<style>
      #div-reserv 
      {
            border-radius: 2rem !important;
            height: 70vh;
            width: 15rem;
      
      }
      .list-group-item 
      {
            background-color: transparent;
            border-color: rgb(46, 46, 46);
            border-radius: 1rem;
            color: white;
      }
</style>

<section id="div-reserv" class=" p-1 bg-black  bg-opacity-50">
      <div class="border-0 font-primary">
            <h5 class="text-center text-white ">Reservados</h5>
      </div>
      <ul class="list-group bg-black bg-opacity-50  " 
            style="border-radius: 1.5rem;">
            <li class=" list-group-item mt-1 border-0">
                  <div class="d-flex flex-wrap w-100 border-0">
                        <span class="w-100">Nombre</span>
                        <span class="w-100">Numero</span>
                        <span class="w-100">Numero</span>
                        <span class="w-100">Fecha</span>
                        <span class="w-100">Hora</span>
                  </div>
            </li>
      </u>
</section>