{% if saled_citas %}
<style>
      td {
            color: rgb(139, 139, 139);
            font-size: 14px;
      }
</style>
<div class='d-flex w-100 bg-white bg-opacity-10 rounded-3 p-2'>
      <table class='w-100'>
            <thead>
                  <tr>
                        <th>ID</th>
                        <th>Cliente</th>
                        <th>Plan</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>
                              Procesar
                        </th>
                  </tr>
            </thead>
            <div>
                  <tbody>
                        {% for cita in saled_citas %}
                        <tr>
                              <td>{{ cita.id }}</td>
                              <td>{{ cita.cliente.name }}</td>
                              <td>{{ cita.plan.name }}</td>
                              <td>{{ cita.cliente.date_choice|date:"d/M/Y" }}</td>
                              <td>{{ cita.cliente.date_time_choice }}</td>
                              <td>  
                                    <a href="{% url 'citas:customer-detail-c' cita.id %}" 
                                          class='btn btn-primary  bg-black bg-opacity-25 border-0 rounded-5 pe-3  ps-3'>
                                          Ir a la cita
                                    </a>
                              </td>
                        </tr>
                        {% endfor %}
                  </tbody>
            </div>
      </table>
</div>


{% endif %}