{% extends "citas/base/base.html" %}
{% block content %}
{% load humanize %}
{% load static %}
<style>
      .font-secundary
      {
            font-size: 14px !important;
      }
      #DivOtions button
      {     
            border:1px grey solid;

      }
      table .border-1
      {
            border-right: 0 !important; 
            border-left: 0 !important; 
            border-bottom: 0 !important; 
            border-top: 0 !important; 
            border-color: rgba(74, 74, 74, 0.823);
            font-size: 12px;

      }
      tbody tr
      {
            transition: 0.1s !important;
      }
      tbody tr:hover
      {
            background-color: rgba(0, 0, 0, 0.3) !important;
            border-radius: 1rem !important;
      }
      .list-btns button
      {
            font-size: 14px !important;
            
      }
</style>
<div class="bg-dinamic  vh-100 bg-black bg-opacity-25 p-0 " style=''  >
      <div class="content vh-100 blur  ">
            {% include "citas/components/nav.html" %}
            {% if c_saled %}

           
            <div class=' bg-white bg-opacity-10 flex-wrap  ms-5 me-5  p-3 pb-2 pt-2 d-flex justify-content-center mt-5' 
                  style='border-radius: 1.9rem; height: 30rem ; overflow-y: hidden; overflow-x: scroll; align-content: normal;'>
                  <div class="w-100 " style="height: max-content;">
                        <table class="w-100 " style="border-radius: 1rem;">
                              <thead >
                                    <tr >
                                        <th class='font-primary pb-1 pt-4' style="width: 5%;" scope="col">
                                          <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-at mb-4" viewBox="0 0 16 16">
                                              <path d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914"/>
                                            </svg> -->
                                          </th>
                                        <th class='font-secundary pt-2 pb-1' style="width: 15%;" scope="col">Nombre y Apellidos</th>
                                        <th class='font-secundary pt-2 pb-1' style="width: 16%;" scope="col">Gmail</th>
                                        <th class='font-secundary pt-2 pb-1' style="width: 15%;"scope="col">Plan</th>
                                        <th class='font-secundary pt-2 pb-1' style="width: 15%;"scope="col">Precio/Bono</th>
                                        <th class='font-secundary pt-2 pb-1' style="width: 15%;"scope="col">Estado </th>
                                        <th class='font-secundary pt-2 pb-1' style="width: 15%;"scope="col">Fecha reservada</th>
                                    </tr>
                                  </thead>
                        </table>
                  </div>
                  <div style=" height: max-content; height: 16rem; max-height: 16rem;  overflow-y: hidden; overflow-x: scroll; " class="w-100   ">
                              <table class="w-100   " 
                  style=' border-radius: 1rem !important; '  >
                  <thead >
                    <tr >
                        <th class='font-primary ' style="width: 5%;" scope="col"></th>
                        <th class='font-primary ' style="width: 15%;" scope="col"></th>
                        <th class='font-primary ' style="width: 16%;" scope="col"></th>
                        <th class='font-primary ' style="width: 15%;"scope="col"></th>
                        <th class='font-primary ' style="width: 15%;"scope="col"></th>
                        <th class='font-primary ' style="width: 15%;"scope="col"></th>
                        <th class='font-primary ' style="width: 15%;"scope="col"></th>
                    </tr>
                  </thead>
                  <tbody class=''   >
                              {% for c in  c_saled %}
                              <tr class="">
                                    <td class="text-white-50  " style="font-size: 12px;"> {{ forloop.counter }} </td>
                                    <td class='border-1 ' > {{c.name}} </td>
                                    <td class="border-1"> {{c.email}} </td>
                                    <td class='border-1' > {{c.plans.name}} </td>
                                    <td class='border-1 d-flex align-content-center'>  
                                        ${% if c.saled  == False %} {{c.reserver_mount|intcomma}}.00 /   $ {{c.plans.price|intcomma}}.00
                                          {% else %} {{c.plans.price|intcomma}}.00  {% endif %}
                                          
                                    </td>
                                    <td class='border-1' > {% if c.saled == True %} Vendido {% else %} <span class='text-danger'>Reservado 
                                          </span> {% endif %} </td>
                                    <td class='border-1' > {{c.date_choice|date:"F/d/Y" }} </td>
                              </tr>
                              {% endfor %}
                  </tbody>
               
                </table>
                  </div>
                <div class="w-100 position-related  " style="height: 2rem;">
               <table class="w-100  ">
                  <thead >
                        <tr >
                          <th class='font-secundary ' style="width: 5%;" scope="col"> </th>
                          <!-- <th class='font-secundary pb-1 pt-4'  style="width: 15%;" scope="col"> Filtar </th> -->
                          <!-- <th class='font-secundary pb-1 pt-4 ' style="width: 16%;" scope="col">Promedio en ventas</th> -->
                          <th class='font-secundary pb-1 pt-4' style="width: 15%;" scope="col">Mas vendido</th>
                          <th class='font-secundary pb-1 pt-4' style="width: 15%;"scope="col">Total Vendido</th>
                          <!-- <th class='font-secundary pb-1 pt-4' style="width: 15%;"scope="col">Total en reservas</th> -->
                          <th class='font-secundary pb-1 pt-4' style="width: 15%;"scope="col"> Mes con mas reservas </th>
                          <th class='font-secundary pb-1 pt-4' style="width: 15%;"scope="col"> Reservado </th>
                        </tr>
                      </thead>
                      <tbody class='rounded-3'>
                        <td></td>
                        <!-- <td>
                                    <button onclick='DivOtions()' class="rounded-4 border-0 text-white-50 bg-transparent d-flex align-content-center ">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-filter mt-1 me-1" viewBox="0 0 16 16">
                                                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
                                              </svg>  Todo
                                    </button>
                        </td> -->

                        <!-- <td class='' >
                               <span style='color: greenyellow; '>0.07+</span>
                        </td> -->
                        <td class='' style="font-size: 14px;" >
                               <span class="d-flex align-content-center  text-white-50">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi mt-1 bi-star-fill me-1" viewBox="0 0 16 16">
                                          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>  {{plans_more}}
                               </span>
                         </td>
                        <td class='' style="font-size: 14px;" >
                              <span class="d-flex align-content-center text-white-50">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-currency-dollar mt-1 me-1" viewBox="0 0 16 16">
                                          <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
                                        </svg> {{total_saled|intcomma}}.00 
                              </span>
                        </td>
           
                        <td class='' style="font-size: 14px;" > 
                              <span class="d-flex align-content-center text-white-50">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi mt-1 bi-star-fill me-1" viewBox="0 0 16 16">
                                          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>   {{mont_more_reserver}}
                              </span>      
                        </td>
                        <td class='' > 
                              <span class="d-flex align-content-center  text-white-50">
                                  $ {{total_reserved|intcomma}}.00
                              </span>
                        </td> 
                    </tbody>
               </table>
               <div id='div-options' class='position-absolute bg-black border-1  p-2' 
                  style='bottom: 15rem; display: none; margin-left: 2rem; border-radius:1.4rem; width: 8rem;'>
                  <table>
                        <tbody>
                              <tr>
                                    <button>
                                          Reservados
                                    </button>
                              </tr>
                              <tr>
                                    <button>
                                          Vendidos
                                    </button>
                              </tr> <br>
                              <tr>
                                    <button>
                                          Todos
                                    </button>
                              </tr>
                        </tbody>
                  </table>
               </div>
            </div>
            </div>

            <div class='d-flex d-none justify-content-start ms-5 mt-3'>
                  <div class='list-btns d-flex'>
                        <a href="{% url "citas:administrations-citas" %}">
                        <button class='rounded-circle bg-black bg-opacity-50  border-0 text-white d-flex justify-content-center align-content-center flex-wrap' style='height: 2rem; width: 2rem;'> 
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left p-0 m-0" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                              </svg> 
                        </button>
                        </a>
                       <button class='rounded-4 bg-black bg-opacity-50 ms-1 border-0 text-white d-flex justify-content-center pe-3 ps-3 align-content-center flex-wrap' style='height: 2rem;'> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi me-1 bi-filetype-pdf " viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"/>
                            </svg>
                            <span>Descargar en PDF</span>
                       </button>
                       <button class='rounded-4 bg-black bg-opacity-50 ms-1 border-0 text-white d-flex justify-content-center pe-3 ps-3 align-content-center flex-wrap' style='height: 2rem;'> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi me-1 bi-filetype-exe " viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM2.575 15.202H.785v-1.073H2.47v-.606H.785v-1.025h1.79v-.648H0v3.999h2.575zM6.31 11.85h-.893l-.823 1.439h-.036l-.832-1.439h-.931l1.227 1.983-1.239 2.016h.861l.853-1.415h.035l.85 1.415h.908l-1.254-1.992zm1.025 3.352h1.79v.647H6.548V11.85h2.576v.648h-1.79v1.025h1.684v.606H7.334v1.073Z"/>
                            </svg>
                            <span> Crear un reporte de ventas en excel</span>
                       </button>
                  </div>
            </div>
            {% endif %}
      </div>
</div>
<script>
TextSession("Listado de ventas")
let  DivOtions = ()=> {
            let optionsDiv = document.getElementById('div-options');
            if (optionsDiv.style.display === 'none') {
            optionsDiv.style.display = 'block';
            } else {
            optionsDiv.style.display = 'none';
            }
      }
      </script>
</script>
{% endblock  %}