/vn
*.pyc
__pycache__/
db.sqlite3
ClickEstudio/Citas/__pycache__/admin.cpython-312.pyc
ClickEstudio/Citas/__pycache__/models.cpython-312.pyc
ClickEstudio/Citas/__pycache__/views.cpython-312.pyc
ClickEstudio/Citas/__pycache__/urls.cpython-312.pyc
ClickEstudio/media/bg_4.jpg
ClickEstudio/media/bg_5_ZZSI8pW.jpg
ClickEstudio/media/bg_13.jpg
ClickEstudio/media/HEROSCREEN-BACKGROUND_050824A_16.webp
ClickEstudio/media/painting-A-red-sports-car-parked-on-a-beac_upscayl_2x_realesrgan-x4plus-anime.webp
ClickEstudio/media/WhatsApp_Image_2024-09-22_at_21.11.52_0ruyDmF.jpeg
ClickEstudio/media/WhatsApp_Image_2024-09-22_at_21.11.52_1OPmxeZ.jpeg
ClickEstudio/media/WhatsApp_Image_2024-09-22_at_21.11.52_3FX6dmU.jpeg
ClickEstudio/media/WhatsApp_Image_2024-09-22_at_21.11.52_aecOeQR.jpeg
ClickEstudio/media/WhatsApp_Image_2024-09-22_at_21.11.52_c1cS516.jpeg
ClickEstudio/media/WhatsApp_Image_2024-09-22_at_21.11.52_GTryKPJ.jpeg
ClickEstudio/media/WhatsApp_Image_2024-09-22_at_21.11.52_Mrs89zV.jpeg
ClickEstudio/media/WhatsApp_Image_2024-09-22_at_21.11.52_N3UeWqJ.jpeg
ClickEstudio/media/WhatsApp_Image_2024-09-22_at_21.11.52_zjS5Qr3.jpeg
ClickEstudio/media/WhatsApp_Image_2024-09-22_at_21.11.52.jpeg
