<style>
      .admin-btns div
      {
            border: solid grey 1px;
            border-radius: 1.5rem;
            padding: 1rem;
            cursor: pointer;
            max-width: 20rem;
            height: 8rem;
            overflow-y: hidden;


      }
      .admin-btns div p
      {
            color: rgba(255, 255, 255, 0.516);
            font-family: "Quicksand", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-size: 12px;
            /* background-color: aliceblue; */
      }
      .admin-btns div span
      {
            font-family: "Poetsen One", sans-serif;
            font-weight: 400;
            font-style: normal;
      }
</style>
<div class='admin-btns d-flex flex-wrap  p-1'>
      <a href="{% url "citas:list-user" %}">
            <div class="bg-black bg-opacity-50 me-1 mb-1  ">
                  <span>
                        Usuarios
                  </span>
                  <p>
                        Gestión de usuarios: creación, edición, eliminación, asignación de roles y establecimiento de permisos según el rol.
                  </p>
            </div>
      </a>
      <div class="bg-black bg-opacity-50">
            <span>
                  Analisis de datos
            </span>
            <p>
                  Herramientas de análisis para comprender mejor las tendencias de compra, las preferencias de los clientes y el rendimiento de los productos o servicios.
            </p>
      </div>
</div>
