<section class="mt-5">
      <h3 class="font-primary mb-4 p-2" style='font-size: 18px;'>
            Confirmar
      </h3>
      <div style="border: 1px solid white; border-radius:  1.5rem;"
      class="p-2 d-none">
            <span >
                  <strong>Plan escogido</strong>: <span class="plan"></span> 
            </span> <br>
            <span >
                  <strong>Fecha y hora selecionada</strong>: <span class="plan"></span> 
            </span>
      </div>
      <div>
            {% comment %} <h3 class="font-primary mt-3">
                  Recuerda que tu cita es el dia <span class="plan"></span> a las <span class="plan"></span>
            </h3> {% endcomment %}
            <p class="p-2  pt-1 text-white-50" style="text-align: justify;">
                  Se te enviara un correo una vez que hagaz click en confirmar,
                  tambien ten presente que te avisaremos el dia de tu cita un dia antes de la misma.
            </p>
      </div>
      <span class=" d-flex justify-content-center mt-3">
            <button onclick="Next()" style="background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%) !important; 
              border-radius: 1.5rem; height: auto;
              width: 10rem;" class="text-white p-2">Confirmar</button>
          </span>
          <span onclick="Last()" class="w-100 text-center mt-3 d-flex justify-content-center">
                   <strong>
                        Atras
                  </strong>
          </span>  
</section>

