<div class="gallery p-2">
      <h3 class='font-primary mb-3 text-start' style="background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;">
            Galeria de momentos
      </h3>
      <img src="https://th.bing.com/th/id/OIP.rl1VcJtuLu0D8XqMGnS9LwHaLH?rs=1&pid=ImgDetMain" alt="Imagen 1">
      <img src="https://i.pinimg.com/originals/8b/25/63/8b25630e7cf449d28dae8102d8c1c8b6.jpg" alt="Imagen 2">
      <img src="https://image01.bonprix.ch/assets/957x1344/1565773589/19219159-S99v7Szd.jpg" alt="Imagen 3">
      <img src="https://i.pinimg.com/originals/8b/25/63/8b25630e7cf449d28dae8102d8c1c8b6.jpg" alt="Imagen 2">
      <!-- Agrega más imágenes según sea necesario -->
  </div>
  <style>
      .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
            grid-gap: 10px;
        }
        .gallery img {
            width: 100%;
            height: auto;
            border-radius: 1rem;
        }
        .gallery img:hover {
            transform: scale(1.1);
            transition: 0.5s;
        }
  </style>