<style>
      /* Estilos personalizados si los necesitas */
      .time-picker-container {
          display: flex;
          flex-direction: column;
          align-items: start;
          margin: 20px;
      }
      .flatpickr-input {
          padding: 10px;
          font-size: 1.2em;
      }
      #id_date_time_choice {
          display: none !important;
      }
</style>

    <!-- Contenedor del selector de tiempo -->
    <div class="time-picker-container text-black">
      <label for="time-picker">
            <h3 class="font-primary text-white">Selecciona la hora de tu preferencia</h3>
      </label>
      <div class="d-flex mt-1">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-clock-fill mt-2  text-white" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                </svg> -->
            <input type="time" id="time-picker" 
            style="border-radius: 1rem !important; border: 1px rgb(0, 0, 0) solid !important;  outline: none !important; " class="flatpickr-input text-blak " placeholder="Selecciona la hora" value="08:30">
            {{form.date_time_choice}}
      </div>
  </div>

  <!-- Incluir los scripts de Flatpickr -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const timePicker = document.getElementById('time-picker');
        const dateTimeChoice = document.getElementById('id_date_time_choice');

        timePicker.addEventListener('change', function() {
            dateTimeChoice.value = timePicker.value;
        });
    });
    

      
  </script>