<div class="mt-2">
      <h3 class='font-primary mb-3 text-start'>
            Nuestros servicios
      </h3>
      <section class="section d-flex overflow-scroll pe-4 " style="direction: rtl;">


      {% if service %}
            {% for s in service %}
                  <a href="{% url "citas:service-select" s.id %}">
                        <div>
                              <img src="{{s.image.url}}" alt="">
                              <span>
                                    {{s.name}}
                              </span>
                              <button>
                                    Ver mas
                              </button>
                        </div>
                  </a>
            {% endfor %}
                        
      {% endif %}



      </section>
</div>
<style>
      .section div {
            min-width: 300px;
            min-height: 200px;
            margin: 0.2rem;
      }

      .section  div img {
            max-width: 300px;
            max-height: 200px;
            min-width: 300px;
            min-height: 200px;
            border-radius: 2rem;
            margin: 0.3rem;
      }
      .section  div span
      {
            margin-left: 1rem;
            font-family: "Poetsen One", sans-serif;
            font-weight: 400;
            font-style: normal;
            color: rgb(190, 190, 190);
      }
      .section  div button
      {
            border-radius: 2rem;
            background-color: transparent;
            color: white;
            border: none;
            padding: 0.3rem;
            margin: 0.2rem;
            width: 6rem;
            border: 1px solid rgb(190, 190, 190);
      }
</style>

<script>
      
</script>