<div class="mt-2">
      <h3 class='font-primary mb-3 text-start'>
            Nuestros servicios
      </h3>
      <section class="section d-flex overflow-scroll">
            <div>
                  <img src="https://img.freepik.com/fotos-premium/feliz-cumpleanos-chica-morena-sexy-posando-globos-fuegos-artificiales-globos-colores-pastel-vacaciones-sobre-fondo-blanco_105751-10533.jpg" alt="">
                  <span>
                    Fotos de  15 Años
                  </span>
                  <button>
                        Ver mas
                  </button>
            </div>
            <div>
                  <img src="https://img.freepik.com/foto-gratis/vista-posterior-mujer-celebrando-graduacion_23-2148505280.jpg?size=626&ext=jpg" alt="">
                  <span>
                       Fotos de Graduaciones
                  </span>
                  <button>
                        Ver mas
                  </button>
            </div>
            <div>
                  <img src="https://i.pinimg.com/736x/ad/4b/2a/ad4b2a67bb6d77d88534af9ccff8cd21.jpg" alt="">
                  <span>
                      Fotos  Corporativas
                  </span>
                  <button>
                        Ver mas
                  </button>
            </div>
            <div>
                  <img src="https://d3n6rnusnzjp6i.cloudfront.net/images/opt/product/Passport_Photo_Large_1200x1200px.jpg?v=2818" alt="">
                  <span>
                     Fotos   2x2
                  </span>
                  <button>
                        Ver mas
                  </button>
            </div>
            <div >
                  <img src="https://th.bing.com/th/id/R.34fdff20735714efb2cc218d46ced931?rik=FgBMmW8GgCna6Q&pid=ImgRaw&r=0" alt="">
                  <span>
                        Fotos de Exteriores
                  </span>
                  <button>
                        Ver mas
                  </button>
            </div>
      </section>
</div>
<style>
      .section div {
            min-width: 300px;
            min-height: 200px;
            margin: 0.2rem;
      }

      .section  div img {
            max-width: 300px;
            max-height: 200px;
            min-width: 300px;
            min-height: 200px;
            border-radius: 2rem;
            margin: 0.3rem;
      }
      .section  div span
      {
            margin-left: 1rem;
            font-family: "Poetsen One", sans-serif;
            font-weight: 400;
            font-style: normal;
            color: rgb(190, 190, 190);
      }
      .section  div button
      {
            border-radius: 2rem;
            background-color: transparent;
            color: white;
            border: none;
            padding: 0.3rem;
            margin: 0.2rem;
            width: 6rem;
            border: 1px solid rgb(190, 190, 190);
      }
</style>