{% extends "citas/base/base.html" %}

{% block content %}
<style>
     .inputs  input 
      {
            border-radius: 1rem !important ;
            margin: 0.2rem !important;
            min-width: 300px;
            background: #dfdfdfe7;
            -webkit-backdrop-filter: blur(30px) !important;
            backdrop-filter: blur(30px) !important;
      }
  
      .background-container {
            position: relative;
            width: 100%;
            height: 45vh; /* Ajusta la altura según sea necesario */
            background-image: url('https://th.bing.com/th/id/OIP.IqjnLkysQHMtDIqzbEqAnAHaLG?w=634&h=950&rs=1&pid=ImgDetMain');
            background-size: cover;
            background-position: center;
        }
        .content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 20px;
            box-sizing: border-box;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.068), rgb(0, 0, 0));
            color: white; /* Cambia el color del texto según sea necesario */
        }

</style>
<div class="background-container  mb-5" id="bg-edit">
      <div class="content">
          <!-- Aquí va el contenido -->
      </div>
  <div class="p-2">
<div>
      <h2 class="font-primary mt-4 mb-4 text-center" 
            style="font-size: 20px;">
            Editando cita de {{customer.name}} 
      </h2>
</div>



     

      <form action="" method="post">
            {% csrf_token %}
            <div class="d-flex  flex-wrap  flex-wrap mb-5">
                  <div  class="w-100 mt-2 d-flex inputs  flex-wrap" id="email">
                        <div class="form-floating  m-1">
                              {{ form.name }}
                              <label for="id_name">Nombre</label>
                        </div>
                        <div class="form-floating m-1 ">
                              {{ form.email }}
                              <label for="id_email">Correo electronico</label>
                        </div>
                        <div class="form-floating m-1" id="number" >
                              {{ form.number }}
                              <label for="id_number">Numero </label>
                        </div>
                        <div class="form-floating  m-1" id="id_date_choice" >
                              {{ form.date_choice }}
                              <label for="id_date_choice">Dia, Mes y Año </label>
                        </div>
                        <div class="form-floating m-1" id="id_date_time_choice" >
                              {{ form.date_time_choice }}
                              <label for="id_date_time_choice">Hora </label>
                        </div>
                  </div>
          
       
                  <div  class="w-100 mt-2 d-flex" >
                        {% include "citas/plans2.html" %}
                        {% include "citas/plans.html" %}
                  </div>
            </div>

            
            <span class=" d-flex justify-content-center text-center mt-3">
                  <button  style="background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%) !important; 
              border-radius: 1.5rem; height: auto;
              width: 7rem;" class="text-white p-2 border-0">
                  Guardar
            </button>
      </span>
</form>
          <span class="w-100 text-center mt-3 d-flex justify-content-center mb-5">
            <a href="{% url "citas:administrations-citas" %}">
                   <strong>
                        Volver a Administacion
                  </strong>
            </a>
          </span>  
</div>
</div>

<style>
      .btn-altern button {
            background-color: transparent;
            border: solid 1px rgba(255, 255, 255, 0.733);
            border-radius: 2rem;
            font-weight: bold;
            color: white;
            margin: 0.3rem;
            padding: 0.2rem 0.7rem;
      }


</style>
<script>
            setInterval(function() {
            let images = [
                  "https://preview.redd.it/aamna-sharif-v0-5dov0if5cxz91.jpg?width=982&format=pjpg&auto=webp&s=26fc772f9d43b113114a83e262edb478783973a0",
                  "https://th.bing.com/th/id/OIP._MbuZO3qrzu-RpuGY0BFrwHaLG?w=867&h=1300&rs=1&pid=ImgDetMain",
                  "https://cdn.shopify.com/s/files/1/0047/9035/3966/products/ellatop.jpg?v=1615583910",
                  "https://i.pinimg.com/736x/3d/87/ba/3d87bad974bee313d330fb2755708e81.jpg",
            ];
            let randomIndex = Math.floor(Math.random() * images.length);
            let imageUrl = images[randomIndex];
            document.getElementById("bg-edit").style.backgroundImage = "url(" + imageUrl + ")";
}, 4000); 
</script>
{% endblock  %}