{% extends "citas/base/base.html" %}
{% block content %}
<style>
      .list-options a {
            transition: none !important;
            margin-left: 0.4rem !important;
            font-size: 14px;
      }
      .sale-list 
      {
            font-size: 14px;
            
      }

</style>
<section class="vh-100 blur bg-black bg-opacity-50 sale-list overflow-scroll">
      {% include "citas/components/nav.html" %}

      <div class='ms-3'>
            <h6 class='p-0 m-0 mt-4'>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                      </svg> <strong> {{ customer.name }}</strong>
            </h6>
            <p class='text-white-50 ms-3' style="font-size: 12px;">
                  {{ customer.date_created|date:"M/d/Y" }} - {{ customer.date_created|date:"H:i" }}
            </p>
      </div>

      <h6 class="p-0 m-0 ps-1 ">
            Listado de citas agendadas
      </h6>
      <p style="font-size: 13px;" class="ps-1 text-white-50" >
            Aquí encontrarás un resumen detallado de todas las citas programadas
      </p>
      <div class="d-flex  flex-wrap  overflow-scroll  bg-white bg-opacity-10 p-3  rounded-5 m-2 justify-content-center  "
            style="height: 35rem;"> 
            {% if sales_reserver %}
            {% for sale_r in sales_reserver %}
                  {% include "citas/administration/reservados.html" %}
                  {% endfor %}
      {% endif %}

      </div>

</section>
<style>
      #div-reserv 
      {
            /* justify-content: center !important; */
      }
</style>
<script>

      TextSession('Perfil de cliente')
</script>

{% endblock  %}