{% extends 'citas/base/base.html' %}

{% block content %}
<style>
      #id_moment {
            display: none;
      }
.hover-reserver-icon {
	-webkit-animation: pulse-bot 0.5s ease-in-out infinite both;
	        animation: pulse-bot 0.5s ease-in-out infinite both;
}

       @-webkit-keyframes pulse-bot {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulse-bot {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.img-admin-moments 
{
      opacity: 0%;
      transition: 0.1s !important;
      display: flex;
      flex-wrap: wrap; align-content: center; justify-content: center;
}
.img-admin-moments:hover
{
      /* filter: brightness(40%);s */
      opacity: 100%;
      background-color: rgba(0, 0, 0, 0.326);
      display: flex;
      flex-wrap: wrap; align-content: center; justify-content: center;
      border-radius: 1.5rem;
      -webkit-backdrop-filter: blur(10px) !important;
      backdrop-filter: blur(10px) !important;
      font-size: 14px ; font-weight: bold;
}

</style> 

<div class="gallerys w-100 vh-100 bg-black  bg-opacity-25  overflow-auto" 
      style="" >
      {% if service_admin %}
      
        {% include "citas/components/nav.html" %}
            <div  class='btns p-2' style='width: 15rem;'>
                  {% if service %}

                  {% for s in service %}
                              <button class=' bg-black bg-opacity-10 rounded-5 text-center mt-2 p-1 ps-4 pe-4' id='{{s.id}}' onclick='AsignarServcio(this.id)'>
                                    {{s.name}}
                              </button>
                  {% endfor %}

            
            {% endif %}
            </div>
      
      <div class='d-flex flex-wrap mt-1 w-100' >
            <div class="d-flex w-100  flex-wrap justify-content-center " style="max-width: 300px;">
                  <div class="w-100 d-flex justify-content-start">
                        <img id='img2' src="" alt="" class='rounded-4 d-none mb-2 ' style='width: 300px;'>
                  </div>
                    <form action="" method="post" class="w-100" enctype="multipart/form-data">
                              {% csrf_token %}
                        {{form.image}}
                        <div class="w-100 d-flex d-none justify-content-center">
                              <button id="add-btn" class="border-0 text-white mt-2 mb-4  btn font-secundary"
                              style="background-color: #3b3b3b75 ; display: none; 
                                    border-radius: 2rem !important; font-size: 14px; ">
                                    Aceptar y guardar
                              </button>
                        </div>
                  </form>
            </div>
            {% if img %}
            <div class="w-100 d-flex  justify-content-start mb-2 ms-3">
                  <button style="height: 4rem;" onclick="AddImg()" class='text-white-50 border-0 d-flex  flex-wrap justify-content-center rounded-4 p-2 pt-1 pb-1 bg-transparent font-primary'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-plus-fill hover-reserver-icon mt-1 me-1" viewBox="0 0 16 16">
                        <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0"/>
                        </svg> 
                        <span class=" text-white-50 add-img" style="font-size: 14px;">
                              Añadir imagen
                        </span>
                  </button>                        
            </div>
            {% endif %}
      </div>
      
      {% endif %}
      
      
      
      <div style="max-width: 70rem; height: max-content; margin: 0 auto; border-radius: 2rem;" class="d-flex p-4 bg-white bg-opacity-10 justify-content-center flex-wrap ">
            {% if img %}
                  <div class="d-flex flex-wrap w-100 justify-content-around ">
                        {% for m in img %}
                        <div class="image-containesr position-relative " style="transition: 0.1s !important;">
                              {% if m.image  %}
                                     {% if service_admin %}
                                          <img src="{{ m.image.url }}" class="m-1 " id='img{{m.id}}'   style="max-width: 600px; " alt="">
                                          <span  onclick="DeledeteImgMoment(this.id)" id='{{m.id}}'  class="position-absolute  h-100 img-admin-moments w-100 top-0">
                                                      Eliminar 
                                          </span>
                                    {% else %}
                                           <img src="{{ m.image.url }}"  class="m-1 " style="max-width: 800px; " id='{{m.id}}' alt="">
                                    {% endif %}

                                    
                                    {% endif %}
                        </div>
                                    {% endfor %}
            
                        
                  </div>

                  {% else %}
                  {% if service_admin %}
                  <span class="w-100 text-center mt-5">
                     <h6>No hay imagenes para mostrar</h6> 
               </span>
               <p class="text-white-50">Debes agregar una imagen para que estas sean visible desde aqui</p>
               
               <div class="d-flex justify-content-center w-100 " >
                     <div class="mt-5 ms-3">
                           <button style="height: 4rem;" onclick="AddImg()" class='text-white-50 border-0 d-flex  flex-wrap justify-content-center rounded-4 p-2 pt-1 pb-1 bg-transparent font-primary'>
                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-plus-fill hover-reserver-icon mt-1 me-1" viewBox="0 0 16 16">
                                 <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0"/>
                                 </svg> 
                                 <span class=" text-white-50 add-img" style="font-size: 14px;">
                                       Añadir imagen
                                 </span>
                           </button>                        
                     </div>
               </div>   
                   {% endif %}
                  
                       
      {% endif %}
</div>

      


{% if service_admin %} 
{% else %}
<div  class='p-2 mt-1  w-100 bottom-0  p-4 ps-2 pe-4'
      style=''>
      {% if img %}
                  <h3 class='font-primary mb-4' style="font-size: 16px;">
                        Galeria de Momentos  (  {{moment.name}} )
                  </h3>
            {% else %}
                  <h3 class='font-primary text-center mb-4'>
                        No hay imagenes en esta galeria
                  </h3>
      {% endif %}
   
      <div class='d-flex justify-content-center mb-5 mt-3'>

            <a href="{% url "citas:dashboard-citas" %}"> 
                  <button class='text-white-50 border-0 bg-transparent font-primary'>
                        Volver a atras
                  </button>      
            </a>
      </div>
      {% endif %}
</div>

<style>
               @media (max-width: 768px) {  
                  .image-container 
                  {
                        display: flex; flex-wrap: wrap;
                        justify-content: center;
                  }
                  .image-containesr img 
                  {
                        width: 155px !important;
                  }
               }
</style>
<script>
      function AddImg(){
            document.getElementById('id_image').click();
           

      }
      

      document.getElementById('id_image').addEventListener('change', function() {
            document.querySelector('#add-btn').click();
            document.querySelector('.add-img').innerHTML=''
            document.querySelector('.add-img').innerHTML='Agregar otra imagen'
            // document.getElementById('img2').classList.remove('d-none')
            // document.getElementById('img2').src = URL.createObjectURL(this.files[0]);
            document.getElementById('add-btn').style.display = 'block';
            // Perform your desired action here
      });

      function DeledeteImgMoment(I) {
            document.getElementById('img'+ I).style.display = 'none';
          
           $.ajax({
                 url: '/delete-img-moment/',
                 data: {
                       delete_img_moment_id: I
                 }
           })
      }

</script>
<style>
      
      #id_image 
      {
            display: none;
      }
      .gallery {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10rem;
            {% comment %} justify-content: center; {% endcomment %}
      }

      .image-container {
            margin: 4px;
      }

      img {
            width: 240px;
            max-height: 300px;
            object-fit: cover;
            border-radius: 14px;
            transform: 0.5s !important;

      }


</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
      function AsignarServcio(e){
            console.log(e)
            $.ajax({
                  url: window.location.href,  // Cambia esta URL con la URL donde quieres enviar el POST en Django
                  type: 'POST',
                  data: {
                      'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),  // Token CSRF
                      'service_id': e,  // Envía el ID del servicio seleccionado
                  },
                  success: function(response) {
                      console.log('Petición enviada correctamente');
                      // Aquí puedes manejar la respuesta del servidor, como mostrar un mensaje o actualizar algo
                  },
                  error: function(error) {
                      console.log('Error al enviar la petición', error);
                  }
              });
      }

    

</script>
<script>
            TextSession('Galeria de Momentos')
</script>
{% endblock %}