{% extends "citas/base/base.html" %}
{% block content %}
      <section class='bg-danger d-none vh-100'>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, quasi odit. Doloribus reprehenderit earum corrupti possimus libero harum, amet dolorum saepe rem iste nobis doloremque repudiandae vero fugit magni eius?
      </section>
      {% comment %}  {% endcomment %}
      <section class='h-100'>
            {% include "citas/components/shaders-slide.html" %}
      </section>

{% endblock  %}