
{% load humanize %}

<style>
      .content-plans {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.605), rgb(0, 0, 0));
            color: white; /* Cambia el color del texto según sea necesario */
      }     
      .list-group-item 
      {
            background-color: transparent;
            border-color: rgb(46, 46, 46);
            border-radius: 1rem;
            color: white;
      }
      .span 
      {
            color: rgba(255, 255, 255, 0.844);
            font-size: 12px;
      }
      .caracteris-span
      {
            font-size: 12px;
      }
</style>


<div class="d-flex flex-wrap " >
      {% for p in plans %}
            <div class="position-relative m-1 overflow-hidden"  
                  style="width: 300px; height: 300px; border-radius: 1.5rem;">
                  <div style="width: 100%; height: 100%;" class="d-flex">
                        <img src="{{p.img.url}}" alt="" class="w-100 h-100 object-cover" style="border-radius: 0rem;">
                  </div>
                  <div class="position-absolute top-0 start-0 content-plans " >
                        <div id='delete-p{{p.id}}' class='   position-relative  m-2 ' 
                        style='
 '>
            
            <!-- 
                              <button onclick='DeledetePlans(this.id)' id="{{p.id}}" class='rounded-4 font-secundary me-2 text-white  bg-transparent border-0 position-absolute top-0 end-0'>
                                    Eliminar
                              </button> -->
                              {% if service_admin %}
                                    <button onclick='DeledetePlans(this.id)' id="{{p.id}}" class=" bg-danger p-1 rounded-circle position-absolute top-0 end-0 border-0 d-flex font-primary text-white  delete-icon  border-0" 
                                    style="border: 1px solid rgba(75, 75, 75, 0.774);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-trash3-fill text-white delete-icon" viewBox="0 0 16 16">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                    </svg> </button>
                              {% endif %}
            
                              <div class=' position-relative m-0 border-0 ' style="border-radius: 2rem;" >
                                    <!-- <div style="width: 100%; height: 120px;" class="d-flex">
                                          <img src="{{p.img.url}}" alt="" class="w-100 h-100 object-cover" style="border-radius: 1rem;">
                                    </div> -->
                                    <div style="line-height: 8px;" class="pb-3">
                                          <h6 class='font-secondary p-0 '>
                                                {{p.name}}
                                          </h6>
                                          <strong class=' ms-2 mb-2 font-secondary mt-1 d-flex' style='font-style: italic; color: rgba(255, 255, 255, 0.625);'>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi p-0 m-0 bi-currency-dollar p-0" viewBox="0 0 16 16">
                                                      <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
                                                    </svg> <span class="mt-1">{{p.price|intcomma}}</span>
                                          </strong>
                                    </div>
                                    <div class='  ' 
                                          style='overflow-y: auto; overflow-x: auto; border-radius: 0.8rem; height: 12rem;   font-size: 14px; text-shadow: 1px 2px 1px black;
                                          border: red 1px solid;'>
                                          <div id='span-list{{p.id}}' class=" ">
                                          {% if p.plans %}
                                                {% for pl in p.plans.all  %}
                                                      {% if service_admin %}
                                                            <li id='list{{pl.id}}' value="{{pl.id}}" onclick="DeleteCaract(this.value)"
                                                                  class='w-100 list lis-none'>
                                                                  <span class='text-white caracteris-span '>{{pl.name}}  </span>  </li>
                                                            {% else %}
                                                            <li id='list{{pl.id}}'>{{pl.name}}</li>
                                                      {% endif %}
                                                {% endfor %}
                                          {% endif %}
                                          </div>
                                    </div>
                 
                                    <div class=' start-0 p-2  w-100 d-flex flex-wrap  justify-content-end position-absolute bottom-0 '> 
                                          {% if service_admin %}
                                                {% if edit %}
                                                      <div id='caract{{p.id}}' class='d-flex justify-content-center mb-2   w-100'>
                                                            <input type="text" id='input{{p.id}}' 
                                                            style="font-size: 14px;" placeholder='Agregar Caracteristica' class="border-0 p-1 text-center bg-black bg-opacity-25 text-white"> 
                                                            <button  class="border-0 btn-add-caract btn font-secundary text-white" style="font-size: 14px;" onclick='CreateCaract(this.id)' id='{{p.id}}'>
                                                                  Agregar
                                                            </button>
                                                      </div>
            
                                                      <a href="{% url "citas:plans-update"  p.id %}">
                                                            <button  class=' bg-transparent  p-1 me-1 text-white font-secundary' 
                                                            style='width: 5rem; border-radius: 1rem;  font-size: 14px;
                                                            border: 1px rgb(98, 98, 98) solid;'>
                                                            Editar
                                                      </button>
                                                      </a>
                                                      {% else %}
                                                            <div class='w-100  d-flex justify-content-center '>
                                                                  <div class="form-check rounded-4 p-2 blur" style='transition: none !important;'>
                                                                        
                                                                        <input style='transition: none !important;' 
                                                                        class="form-check-input" type="radio" name="select" value="{{p.id}}" id="flexRadioDefault1{{p.id}}">
                                                                        <label style='transition: none !important;' class="form-check-label font-primary"
                                                                              for="flexRadioDefault1{{p.id}}">
                                                                          Seleccionar 
                                                                        </label>
                                                                  </div>
                                                            </div>
                                                      {% endif %}
            
                                          {% else %}
                                          <a href="{% url "citas:create-customer" p.id %}" class="w-100 d-flex justify-content-center">
                                                <button class='   text-white font-secundary' 
                                                style='width: 7rem; height: 2rem; border-radius: 1rem; 
                                                border: 1px rgba(255, 255, 255, 0) solid; background-color: #5c9dffad !important;'>
                                                      Agendar
                                                </button>
                                          </a>
                                    {% endif %}
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      {% endfor %}
</div>