<style>
      .background-container {
            position: relative;
            width: 100%;
            height: 45vh; /* Ajusta la altura según sea necesario */
            background-size: cover;
            background-position: center;
            border-radius: 1.5rem;
        }

        .content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 20px;
            box-sizing: border-box;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.098), rgb(0, 0, 0));
            color: white; /* Cambia el color del texto según sea necesario */
        }
</style>
{% load humanize %}
{% if plans %}
      <div class='d-flex '>
            {% for p in plans %}
            <div id='delete-c{{p.id}}' class='background-container border-0 m-2 overflow-hidden' 
            style='background-image: url( {{p.img.url}} );
            max-width: 320px; min-width: 320px; border-radius: 2rem; '>
                  <div class='content position-relative border-0'>
                        <h5 class='font-primary '>
                              {{p.name}}
                        </h5>
                        <div class='p-2  overflow-scroll' 
                              style='border-radius: 0.8rem; height: 12rem;   font-size: 14px; text-shadow: 1px 2px 3px black;'>
                              {% if p.plans %}
                                    {% for pl in p.plans.all  %}
                                          <li>{{pl.name}}</li>
                                    {% endfor %}
                        {% endif %}
                        </div>
                        <strong class='font-primary ' style='font-style: italic;'>
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi p-0 m-0 bi-currency-dollar" viewBox="0 0 16 16">
                                    <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
                                  </svg> {{p.price|intcomma}}
                        </strong>
                        <div class=' start-0 p-2  w-100 d-flex justify-content-end position-absolute bottom-0'> 
                              {% if service_admin %}
                                    <button onclick='DeledetePlans(this.id)' id="{{p.id}}" class='rounded-4 font-primary me-1 text-white  bg-transparent border-0'>
                                          Eliminar
                                    </button>
                                    <a href="{% url "citas:plans-update"  p.id %}">
                                          <button  class=' bg-transparent  text-white font-primary' 
                                          style='width: 7rem; border-radius: 1rem; 
                                          border: 1px white solid;'>
                                          Editar
                                    </button>
                              {% else %}
                              <a href="{% url "citas:create-customer" p.id %}">
                                    <button class=' bg-transparent  text-white font-primary' 
                                    style='width: 7rem; height: 2rem; border-radius: 1rem; 
                                    border: 1px white solid;'>
                                    Agendar
                              </button>
                        </a>
                        {% endif %}
                        </div>
                  </div>
            </div>
      {% endfor %}

      </div>
{% else %}
            <div class="alert alert-warning" role="alert">
            <strong>¡Aviso!</strong> No hay planes registrados.
            </div>
{% endif %}


<script>
      setInterval(function() {
            let img = [
                  "https://preview.redd.it/aamna-sharif-v0-5dov0if5cxz91.jpg?width=982&format=pjpg&auto=webp&s=26fc772f9d43b113114a83e262edb478783973a0",

                  "https://th.bing.com/th/id/OIP._MbuZO3qrzu-RpuGY0BFrwHaLG?w=867&h=1300&rs=1&pid=ImgDetMain",

                  "https://cdn.shopify.com/s/files/1/0047/9035/3966/products/ellatop.jpg?v=1615583910",

                  "https://i.pinimg.com/736x/3d/87/ba/3d87bad974bee313d330fb2755708e81.jpg",
            ];
            let random = Math.floor(Math.random() * img.length);
            let url = img[random];
            document.getElementById("bg-plans").style.backgroundImage = "url(" + url + ")";
      }, 4000); 

      function DeledetePlans(I) {
            document.getElementById('delete-c'+I).style.display = 'none';
            
            $.ajax({
                  url: '/delete-plans/',
                  data: {
                        p_id: I
                  }
            })
      }
</script>
