<style>
      .background-container {
            position: relative;
            width: 100%;
            height: 45vh; /* Ajusta la altura según sea necesario */
            background-size: cover;
            background-position: center;
            border-radius: 1.5rem;
        }

        .content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 20px;
            box-sizing: border-box;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.098), rgb(0, 0, 0));
            color: white; /* Cambia el color del texto según sea necesario */
        }
</style>
{% if plans %}
      <div class='d-flex'>
            {% for p in plans %}
            <div class='background-container m-2 overflow-hidden' 
            style='background-image: url( {{p.img.url}} );
            max-width: 320px; min-width: 320px; border-radius: 2rem; '>
                  <div class='content position-relative'>
                        <h5 class='font-primary '>
                              {{p.name}}
                        </h5>
                        <div class='p-2  overflow-scroll' 
                              style='border-radius: 0.8rem; height: 13rem;   font-size: 14px; text-shadow: 1px 2px 3px black;'>
                              {% if p.plans %}
                                    {% for pl in p.plans.all  %}
                                          <li>{{pl.name}}</li>
                                    {% endfor %}
                        {% endif %}
                        </div>
                        <div class=' start-0 p-2  w-100 d-flex justify-content-center position-absolute bottom-0'> 
                              <a href="{% url "citas:create-customer" p.id %}">
                                    <button class=' bg-transparent  text-white font-primary' 
                                    style='width: 10rem; border-radius: 1rem; 
                                    border: 1px white solid;'>
                                          Agendar
                                    </button>
                              </a>
                        </div>
                  </div>
            </div>
      {% endfor %}

      </div>
{% else %}
            <div class="alert alert-warning" role="alert">
            <strong>¡Aviso!</strong> No hay planes registrados.
            </div>
{% endif %}


<script>
      setInterval(function() {
            let img = [
                  "https://preview.redd.it/aamna-sharif-v0-5dov0if5cxz91.jpg?width=982&format=pjpg&auto=webp&s=26fc772f9d43b113114a83e262edb478783973a0",

                  "https://th.bing.com/th/id/OIP._MbuZO3qrzu-RpuGY0BFrwHaLG?w=867&h=1300&rs=1&pid=ImgDetMain",

                  "https://cdn.shopify.com/s/files/1/0047/9035/3966/products/ellatop.jpg?v=1615583910",

                  "https://i.pinimg.com/736x/3d/87/ba/3d87bad974bee313d330fb2755708e81.jpg",
            ];
            let random = Math.floor(Math.random() * img.length);
            let url = img[random];
            document.getElementById("bg-plans").style.backgroundImage = "url(" + url + ")";
      }, 4000); 

</script>
