{% extends "citas/base/base.html" %}
{% block content %}
<style>
      .background-container {
            position: relative;
            width: 100%;
            height: 45vh; /* Ajusta la altura según sea necesario */
            /* background-image: url('https://th.bing.com/th/id/OIP.IqjnLkysQHMtDIqzbEqAnAHaLG?w=634&h=950&rs=1&pid=ImgDetMain'); */
            background-size: cover;
            background-position: center;
        }
    
        .content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 20px;
            box-sizing: border-box;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.968), rgb(0, 0, 0));
            color: white; /* Cambia el color del texto según sea necesario */
        }
        #div-plans {
            display: flex;
            flex-wrap: wrap !important;
            justify-content: center !important;
            margin-bottom: 10rem;
        }
</style>
<section class="vh-100">
      <div class='w-100'>
            <h5 class='font-primary d-none text-white text-start'>
                  Nuestros servicios
            </h5>
      </div>
      {% if plans %}
              {% include "citas/plans.html" %}
      {% else %}
            <div class='w-100 text-center d-flex  flex-wrap justify-content-center '>
                  <h5 class='font-primary w-100 text-center mt-3'> 
                        Aun no hay servicios disponibles 
                  </h5>
                  <p class='text-white-50 text-center'>
                        Por favor, ten paciencia, estamos trabajando arduamente. 
                  </p>
            </div>
      {% endif %}
</section>



<div  class='p-2 mt-1 position-fixed w-100 bottom-0  p-4 ps-2 pe-4'
      style=''>
      {% if img %}
      <h3 class='font-primary mb-4'>
            {% comment %} Servicios   {{s.name}} {% endcomment %}
            </h3>
            {% else %}
                  <h3 class='font-primary text-center mb-4'>
                        {% comment %} No hay servicios por el momento {% endcomment %}
                        </h3>
      {% endif %}
            <a href="{% url "citas:dashboard-citas" %}">
                        <button class='border-0 p-1 pe-4 ps-4 mb-4 font-primary' 
                        style='border-radius: 1rem;'>
            Atras 
      </button>
      </a>
</div>
<script>

</script>
{% endblock  %}