{% extends "citas/base/base.html" %}
{% block content %}
{% load static %}
<style>
      .background-container {
            position: relative;
            width: 100%;
            height: 45vh; /* Ajusta la altura según sea necesario */
            /* background-image: url('https://th.bing.com/th/id/OIP.IqjnLkysQHMtDIqzbEqAnAHaLG?w=634&h=950&rs=1&pid=ImgDetMain'); */
            background-size: cover;
            background-position: center;
        }
    
        .content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 20px;
            box-sizing: border-box;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.968), rgb(0, 0, 0));
            color: white; /* Cambia el color del texto según sea necesario */
        }
        #div-plans {
            display: flex;
            flex-wrap: wrap !important;
            justify-content: center !important;
            margin-bottom: 10rem;
        }
</style>
<section class="vh-100 overflow-scroll">
      {% if service_admin %}
            {% include "citas/components/nav.html" %}
      {% endif %}
      <div class='w-100'>
            <h5 class='font-primary d-none text-white text-start'>
                  Nuestros servicios
            </h5>
      </div>
      {% if plans %}
              {% include "citas/plans.html" %}
      {% else %}
      <div class='w-100 text-center d-flex  flex-wrap justify-content-center '>
            <h5 class='font-primary w-100 text-center mt-3'> 
                  Aun no hay planes disponibles en este servicio
            </h5>
            <p class='text-white-50 text-center'>
                  Por favor, en breve agregaremos nuevos planes. 
            </p>
      </div>
      {% endif %}
      <div class='d-flex flex-wrap w-100 justify justify-content-center  '>
            {% if img_mkl %}
                  {% for o in img_mkl %}
                        {% if o.image %}
                              <img src="{{o.image.url}}" class='m-1' style='width: 300px; border-radius: 1rem;' > 
                        {% endif %}
                  {% endfor %}
            {% endif %}
      </div>
</section>


{% endblock  %}