
{% extends "citas/base/base.html" %}
{% block content %}
      <style>
            section div input {
                  margin-top: 0.5rem;
                  border-radius: 1rem !important;
                  border: 0px solid #000 !important;
            }
      </style>
      <section class='d-flex justify-content-center flex-wrap w-100'>
            <div class='w-100 text-center mt-3 mb-5'>
                  <h6 class='font-primary'>
                        Crear un nuevo servicio
                  </h6>
            </div>
            <form action="" method="post" style='width: 30rem;' enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                          <img id='img' src="{{img}}"  alt="" 
                          style='height: 14rem;' class='mt-3 mb-3 rounded-3'>
                    </div>
                  <div class='form-floating'>
                        {{form.name}}
                        <label for="id_name">Nombre del servicio</label>
                  </div>
                  <div class='form-floating'>
                        {{form.image}}
                        <label for="id_name">Selecciona una imagen</label>
                  </div>
                  <div class='d-flex justify-content-end w-100 pe-3'>
                              <a href="{% url "citas:service-create" %}">
                                    <label class='border-0 btn  pt-3 bg-transparent text-white font-primary'> Ir a atras</label>
                              </a>
                        <button type="submit" class='border-0 mt-2 btn font-primary'
                              style='background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
                              width: 7rem; border-radius: 1.4rem;'>Crear</button>
                  </div>
            </form>
            
      </section>

      <script>
            document.getElementById('id_image').addEventListener('change', function() {
                  var img = document.getElementById('img');
                  img.src = URL.createObjectURL(this.files[0]);
            });
      </script>
      {% comment %} <section>
            {% include "citas/components/servicios.html" %}
      </section> {% endcomment %}
{% endblock  %}